
<% if current_user %>
  <h1><%= t("users.profile") %></h1>
  <p>
  <strong><%= t('users.email') %></strong>
  <%= current_user.email %>
  </p>
  <p>
  <strong><%= t('users.role') %></strong>
  <%= current_user.role %>
  </p>
  <p>
  <strong><%= t('users.last_login_ip') %></strong>
  <%= current_user.last_login_ip %>
  </p>
  <p>
  <strong><%= t('users.name') %></strong>
  <%= current_user.name %>
  </p>
  <p>
  <%= current_user.updated_at %>
  </p>


  <p><%= link_to t("logout"), logout_path %></p>
<% else %>
  <h1><%= t("users.sign")  %></h1>
  <p>
  <%= link_to t("create_account"), new_identity_path %> 
  </p>

  <%= form_tag "/auth/identity/callback" do %>
    <div class="field">
      <%= label_tag :auth_key, t("users.email") %>
      <%= text_field_tag :auth_key %>
    </div>
    <div class="field">
      <%= label_tag :password, t("users.password") %>
      <%= password_field_tag :password %>
    </div>
    <div class="actions"><%= submit_tag t("users.login") %></div>
  <% end %>
<% end %>
