<%= form_for(@node) do |f| %>
  <% if @node.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@node.errors.count, "error") %> prohibited this node from being saved:</h2>
      <ul>
        <% @node.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <legend><%= t('nodes.new') %></legend>

    <div class="control-group"> 
      <%= f.label  :parent_node_id , class: 'control-label' -%>
      <div class="controls">
        <%= f.select :parent_node_id, node_tree, {:include_blank => t('nodes.select')}, :style => "width:145px" %>
      </div>
    </div>

    <div class="control-group"> 
      <%= f.label  :name , class: 'control-label' -%>
      <div class="controls">
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="control-group"> 
      <%= f.label  :position , class: 'control-label' -%>
      <div class="controls">
        <%= f.text_field :position %>
      </div>
    </div>


    <div class="form-actions">
      <%= f.submit value: t('submit') , class: 'btn btn-primary'%>
    </div>
  </fieldset>
<% end %>
