<h2><%= t('nodes.tree') %></h2>
<ul class="list-group list-unstyled">
<%- node_tree.each do |item| -%>
  <li class="list-group-item"> <%= item[0] %></li>
<%- end -%>
</ul>

<h2><%= t('nodes.list') %></h2>
<table class="table">
  <thead>
    <tr>
      <th><%= t('nodes.name') %></th>
      <th><%= t('nodes.position') %></th>
      <th><%= t('nodes.parent_node') %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @nodes.each do |node| %>
      <tr>
        <td><%= node.name %></td>
        <td><%= node.position %></td>
        <td><%= node.parent_node.blank? ? "" :node.parent_node.name %></td>
        <td><%= link_to t('show'), node %></td>
        <td><%= link_to t('edit'), edit_node_path(node) %></td>
        <td><%- if can? :destroy, node -%>
         <%= link_to t('destroy'), node, method: :delete, data: { confirm: t('nodes.delete', name: node.name) } %>
            <%- end -%>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('nodes.new'), new_node_path %>
