<div class="field">
  <%= t('categories.name') + ":" +@category.name %> 
</div>
<div class="field">
  <%= t('csvfiles.name') + ":" + @csvfile.name %>
</div>

<%= form_for([@category, @csvfile, @pair], :html => {:class => 'form-horizontal'}) do |f| %>
  <% if @pair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pair.errors.count, "error") %> prohibited this pair from being saved:</h2>

      <ul>
        <% @pair.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%- @category.properties.order_by(:'position'.asc).each do |item| -%>
    <div class="form-group"> 
      <%= f.label "#{item.id}", item.name, class: 'col-sm-2 control-label' %>
       <div class="col-sm-5">
        <%= render_category_csvfile_select_tag(item, @csvfile)  %>
        <%= item.value %>
      </div>
    </div>
  <%- end -%>
  <div class="form-group">
    <div class='col-sm-offset-2 col-sm-5'>
      <%= f.submit value: t('submit') , class: 'btn btn-primary'%>
    </div>
  </div>

<% end %>
