<h2><%= t('pairs.list') %></h2>

<table class="table">
  <thead>
    <tr>
      <th><%= t('pairs.catename') %></th>
      <th><%= t('pairs.filename') %></th>
      <th><%= t('pairs.username') %></th>
      <th><%= t('pairs.created_at') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pairs.each do |pair| %>
      <tr>
        <td><%= pair.category.blank? ? "": pair.category.name %></td>
        <td><%= pair.csvfile.blank? ? "" : pair.csvfile.name %></td>
        <td><%= pair.user.blank? ? "" : pair.user.name %></td>
        <td><%= timeago(pair.created_at) %></td>
        <td><%= link_to t('show'), pair %></td>
        <td><%= link_to t('destroy'), pair, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
