<h2><%= t('pairs.list') %></h2>

<table class="table table-hover table-condensed">


  <thead>
    <tr>
      <th><%= t('pairs.catename') %></th>
      <th><%= t('pairs.filename') %></th>
      <th><%= t('pairs.username') %></th>
      <th><%= t('pairs.note') %></th>
      <th><%= t('pairs.created_at') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pairs.each do |pair| %>
      <tr>
        <td><%= pair.category.blank? ? "": pair.category.name %></td>
        <td><%= pair.csvfile.blank? ? "" : pair.csvfile.name %></td>
        <td><%= pair.user.blank? ? "" : pair.user.name %></td>
        <td><%= pair.status %>|<%= pair.note %></td>

        <td><%= timeago(pair.created_at) %></td>
        <td><%= link_to t('show'), pair %></td>
        <td>
          <%- if (can?(:manage, pair) && current_user.admin? && pair.status.eql?(0)) -%>
            <span class="label label-danger glyphicon glyphicon-remove">
            <%= link_to t('pairs.destroy_products'), pair, method: :delete, data: { confirm: 'Are you sure?' } %>
          </span>

        <%- end -%>
      </td>
    </tr>
  <% end %>
</tbody>
</table>
<%= paginate @pairs %>
