<h1>Listing pairs</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Csvfile</th>
      <th>Hash paris</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pairs.each do |pair| %>
      <tr>
        <td><%= pair.category_id %></td>
        <td><%= pair.csvfile_id %></td>
        <td><%= pair.hash_paris %></td>
        <td><%= pair.status %></td>
        <td><%= link_to 'Show', pair %></td>
        <td><%= link_to 'Edit', edit_pair_path(pair) %></td>
        <td><%= link_to 'Destroy', pair, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pair', new_pair_path %>
