<p>
<strong><%= t('pairs.catename') %></strong>
<%= @pair.category.name %>
</p>
<p>
<strong><%= t('pairs.filename') %></strong>
<%= @pair.csvfile.name %>
</p>

<%- unless @pair.hash_pairs.blank? -%>
<p>
<strong><%= t('pairs.hash_pairs')%></strong>
  <% @pair.hash_pairs.each do |proid, parname| %>
    <%= render_get_property_name_tag(proid) + ':' + parname %>
  <%- end -%>
</p>
<%- end -%>
<p>
<strong><%= t('pairs.created_at') %></strong>
<%= @pair.created_at %>
</p>
<p>
<strong><%= t('pairs.creater') %></strong>
<%= @pair.user.name %>
</p>



<%= link_to t('back'), pairs_path %>
