<p>
<strong><%= t('pairs.catename') %></strong>
<%= @pair.category.name %>
</p>
<p>
<strong><%= t('pairs.filename') %></strong>
<%= @pair.csvfile.name %>
</p>

<%- unless @pair.hash_pairs.blank? -%>
<p>
<strong><%= t('pairs.hash_pairs')%></strong>
<br />
<table class="table-bordered">
  <tr>
    <th width=150><%= @pair.category.name %></th>
    <th><%= @pair.csvfile.name %></th>
  </tr>
  <% @pair.hash_pairs.each do |proid, parname| %>
    <tr><td><%= render_get_property_name_tag(proid) %></td><td><%= parname %> </td></tr>
  <%- end -%>
</table>
</p>
<%- end -%>
<p>
<strong><%= t('pairs.created_at') %></strong>
<%= @pair.created_at %>
</p>
<p>
<strong><%= t('pairs.creater') %></strong>
<%= @pair.user.name %>
</p>
<h2></h2>
<p>agree all</p>
<table class="table-bordered">
<%- @products.each do |item| -%>
  <tr>
  <% item.parameters.each do |par|  %>
    <td><%= par.name %> : <%= par.value %></td>
  <% end %>
</tr>
<%- end -%>
</table>

<%= link_to t('back'), pairs_path %>
