<h4><%= t('manages.events') %></h4>
<table class="table">
  <thead>
    <tr>
      <th><%= t('manages.username')  %></th>
      <th><%= t('manages.name')  %></th>
      <th><%= t('manages.note')  %></th>
      <th><%= t('manages.created_at')  %></th>

    </tr>
  </thead>
  <tbody>
    <% @events.each do |event|%>
      <tr>
        <td><%= event.username %></td>
        <td><%= event.name %></td>
        <td><%= event.note %></td>
        <td><small><%= event.created_at %></small></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @events %>
