<%= form_for [@category, @property] do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :value %>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :position %>
    <%= f.number_field :position %>
  </div>
  <div class="actions">
    <%= f.submit value: t('submit') %>
  </div>
<% end %>
