<p>
  <strong>Code:</strong>
  <%= @property.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @property.value %>
</p>

<p>
  <strong>Position:</strong>
  <%= @property.position %>
</p>

<%= link_to t('edit'), edit_category_property_path(@category, @property) %> |
<%= link_to t('back'), category_path(@category) %>
