<p>
<%= link_to t("create_account"), new_identity_path %> 
</p>

<%= form_tag "/auth/identity/register" do %>
  <div class="field">
    <%= label_tag :name, t("users.name") %><br>
    <%= text_field_tag :name, @identity.try(:name) %>
  </div>
  <div class="field">
    <%= label_tag :email, t("users.email") %><br>
    <%= text_field_tag :email, @identity.try(:email) %>
  </div>
  <div class="field">
    <%= label_tag :password, t("users.password") %><br>
    <%= password_field_tag :password %>
  </div>
  <div class="field">
    <%= label_tag :password_confirmation, t("users.password_confirmation") %><br>
    <%= password_field_tag :password_confirmation %>
  </div>
  <div class="actions"><%= submit_tag t("register") %></div>
<% end %>
