<div class="col-xs-4 col-md-2">
  <% if @category %>
    <%= link_to image_tag(resource.photo.url(:thumb)), category_resource_path(@category, resource) , class: 'thumbnail', title: resource.name %>
    <%= link_to t('show'), category_resource_path(@category, resource) %>
  <% else %>
    <%= link_to image_tag(resource.photo.url(:thumb)), resource , class: 'thumbnail', title: resource.name %>
    <%= resource.category.blank? ? t("error_no_category") : resource.category.name %>
    <%= link_to t('show'), resource %>

  <% end %>
  <%= link_to t('resources.destroy'), resource, method: :delete, data: { confirm: t('delete?') } %>
</div>
