<div class="col-xs-4 col-md-2">
  <% if @category %>
    <%= link_to image_tag(resource.photo.url(:thumb)), category_resource_path(@category, resource) , class: 'thumbnail' %>
  <div class="caption">
    <p><%=  resource.name %></p>
    <p><%= link_to t('show'), category_resource_path(@category, resource), :class => 'btn btn-sm btn-primary' %>
  <% else %>
    <%= link_to image_tag(resource.photo.url(:thumb)), resource , class: 'thumbnail' %>
  <div class="caption">
    <p><%=  resource.name %></p>
    <p><%= resource.category.blank? ? t("resources.error_no_category") : resource.category.name %></p>
    <p><%= link_to t('show'), resource, :class => 'btn btn-primary' %>

  <% end %>
 <%= link_to t('resources.destroy'), resource, method: :delete, :class => 'btn btn-sm btn-danger', data: { confirm: t('delete?') } %></p>
  </div>

</div>
