<h3><%= t('resources.list') %></h3>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th><%= t('resources.name') %></th>
      <th><%= t('resources.size') %></th>
      <th><%= t('resources.note') %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td><%= image_tag resource.photo.url(:thumb) %></td>
        <td><%= resource.name %></td>
        <td><%= resource.size %></td>
        <td><%= resource.note %></td>
        <td><%= link_to t('show'), resource %></td>
        <td><%= link_to t('resources.destroy'), resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('resources.new'), new_resource_path %>
