<p id="notice"><%= notice %></p>

<p>
<strong><%= t('resources.name') %></strong>
  <%= @resource.name %>
</p>
<p>
<%= image_tag @resource.photo.url, :id => 'cropimage' %>
</p>
<hr />
<p>
 <strong><%= t('resources.note') %></strong>
  <%= @resource.note %>
</p>
<% if @category.blank? %>
<%= link_to t('back'), all_resources_path %>
<% else %>
<%= link_to t('back'), category_resources_path(@category) %>
<% end %>
