<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @resource.name %>
</p>
<p>
<strong>photo</strong>

<%= image_tag @resource.photo.url, :id => 'cropimage' %>
</p>

<p>
  <strong>Size:</strong>
  <%= @resource.size %>
</p>

<p>
  <strong>Note:</strong>
  <%= @resource.note %>
</p>

<%= link_to t('edit'), edit_resource_path(@resource) %> |
<%= link_to t('back'), resources_path %>
