<h1>账户</h1>

<table class="table m">
  <thead>
    <tr>
      <th><%= t('users.name') %></th>
      <th><%= t('users.email') %></th>

      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @identities.each do |user| %>
      <tr>
        <td><%= user.name.to_s %></td>
        <td><%= user.email.to_s %></td>

        <td><%= link_to t('destroy'), cpanel_identity_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Identity', new_identity_path %>
