<%= form_for([@category, @csvfile], :html => {:multipart => true}) do |f| %>
  <% if @csvfile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@csvfile.errors.count, "error") %> prohibited this csvfile from being saved:</h2>

      <ul>
      <% @csvfile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field hidden" >
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.file_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
