<h1><%=  @category.name + '>' + t('csvfiles.list') %></h1>

<table class='table'>
  <thead>
    <tr>
      <th><%= t('csvfiles.name') %></th>
      <th><%= t('csvfiles.creater') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @csvfiles.each do |csvfile| %>
      <tr>
        <td><%= csvfile.name %></td>
        <td><%= csvfile.creater %></td>
        <td><%= link_to t('csvfiles.pipei'), '' %></td>
        <td><%= link_to t('show'), category_csvfile_path(@category, csvfile) %></td>
        <td><%= link_to t('destroy'), category_csvfile_path(@category, csvfile), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to t('csvfiles.back'), categories_path() %>
<%= link_to t('csvfiles.new'), new_category_csvfile_path(@category) %>
