<h1>Listing csvfiles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Creater</th>
      <th>Size</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @csvfiles.each do |csvfile| %>
      <tr>
        <td><%= csvfile.name %></td>
        <td><%= csvfile.creater %></td>
        <td><%= csvfile.size %></td>
        <td><%= link_to t('show'), category_csvfile_path(@category, csvfile) %></td>
        <td><%= link_to t('destroy'), category_csvfile_path(@category, csvfile), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('csvfiles.new'), new_category_csvfile_path(@category) %>
