<p>
<%= link_to t('csvfiles.back'), nodecategory_path(@category.node_id) %>
<%= link_to t('csvfiles.new'), new_category_csvfile_path(@category) %>
</p>
<h4><%=  @category.name + '>' + t('csvfiles.list') %></h4>

<table class='table'>
  <thead>
    <tr>
      <th>ID</th>
      <th><%= t('csvfiles.name') %></th>
      <th><%= t('csvfiles.size') %></th>

      <th><%= t('csvfiles.status') %></th>
      <th><%= t('csvfiles.creater') %></th>
      <th><%= t('csvfiles.created_at') %></th>
      <th><%= t('option') %></th>
    </tr>
  </thead>

  <tbody>
    <% @csvfiles.each_with_index do |csvfile, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= link_to csvfile.name , category_csvfile_path(@category, csvfile) %></td>
        <td><%= csvfile.source.blank? ? "" : csvfile.source.size  %></td>

        <td><%= render_csvfile_status_tag(csvfile.status) %></td>
        <td><%= csvfile.user.blank? ? "" : csvfile.user.name %></td>
        <td><%= timeago(csvfile.created_at) %></td>
        <td><% if csvfile.status == 0  %>
            <%= link_to t('csvfiles.import') , new_category_csvfile_pair_path(@category, csvfile) %>
          <% else %>
            <%=  t('csvfiles.pipei') %>        <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @csvfiles %>
<br>

