<h1><%=  @category.name + '>' + t('csvfiles.list') %></h1>

<table class='table'>
  <thead>
    <tr>
      <th><%= t('csvfiles.name') %></th>
      <th><%= t('csvfiles.status') %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @csvfiles.each do |csvfile| %>
      <tr>
        <td><%= csvfile.name %></td>
        <td><%= render_csvfile_status_tag(csvfile.status) %></td>
        <td><%= link_to csvfile.status == 0 ? t('csvfiles.import') : t('csvfiles.reimport'), new_category_csvfile_pair_path(@category, csvfile) %></td>
        <td><%= link_to t('show'), category_csvfile_path(@category, csvfile) %></td>
     </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to t('csvfiles.back'), categories_path() %>
<%= link_to t('csvfiles.new'), new_category_csvfile_path(@category) %>

