<p id="notice"><%= notice %></p>

<p>
<strong><%= t('csvfiles.name') %></strong>
<%= @csvfile.name %>
</p>
<table class='table'>
  <%-item = @csvfile.temproducts.first -%>
    <tr> <%- item.parameters.each do |p| -%>
        <th><%= p.name %></th>
      <%-end -%>
    </tr>

    <%- @csvfile.temproducts.each do |item| -%>
      <tr> <%- item.parameters.each do |p| -%>
          <td><%= p.value %></td> 
        <%-end -%>
      </tr>

    <%- end -%>
  </table>
  <%= link_to t('csvfiles.back'), category_csvfiles_path(@category) %>
