<p>
<%- if can? :create, Category -%>
  <%= link_to t('categories.new'), new_category_path %>
<%- end -%>
</p>
<h3><%= @page_title %></h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= t("categories.name") %></th>
      <th><%= t("categories.alias") %></th>
      <th><%= t("sources") %></th>
      <th><%= t("data_list") %></th>
      <th><%= t("creater") %></th>
      <th><%= t("last_editor") %></th>
      <th><%= t('option') %></th>
    </tr>
  </thead>

  <tbody>
    <%- unless @categories.blank?  -%>
      <% @categories.each do |category| %>
        <tr>
          <th title= "<%= category.note %>"><%= link_to category.name, category %></th>
          <td><%= category.alias %></td>
          <td>
            <%= link_to t('csvfiles.new'), new_category_csvfile_path(category) %>
            |<%= link_to t('csvfiles.list'), category_csvfiles_path(category) %>
          </td>
          <td>
            <%- if can? :update, category.products.build -%>
              <%= link_to t('products.new'), new_category_product_path(category) %>|
              <%= link_to t('products.draft'), draft_category_products_path(category) %>
            <%- end -%>
            <%- if can? :done, category.products.build -%>
              <%= link_to t('products.ready'), ready_category_products_path(category) %>|
              <%= link_to t('products.done'), done_category_products_path(category) %>
            <%- end -%>
          </td>

          <td><%= category.user.blank? ? "" : category.user.name %></td>
          <td><%= category.last_edit_user.blank? ? "" : category.last_edit_user.name %></td>
          <td colspan="1">
            <%- if can? :update, category -%>
              <%= link_to t('categories.edit'), edit_category_path(category) %>
            <%- end -%>
            <%- if can? :destroy, category -%>
              |<%= link_to t('categories.destroy'), category, method: :delete, data: { confirm: t('categories.delete', name: category.name) } %>
            <%- end -%>

          </td>

        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= paginate @categories %>
