<h1><%= t("categories.list") %></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t("categories.name") %></th>
      <th><%= t("categories.note") %></th>
      <th><%= t("properties.list") %></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <th title= "<%= category.note %>"><%= category.name %></th>
        <td><%= link_to t('show'), category %>|
        <%= link_to t('edit'), edit_category_path(category) %>|
        <%= link_to t('destroy'), category, method: :delete, data: { confirm: t('categories.delete', name: category.name) } %>|
        <%= link_to t('products.new'), new_category_product_path(category) %>
      </td>
        <td>
          <table class="table table-bordered"> <tr>
         <% category.properties.order_by(:'position'.asc).each do |item| %>
           <td><%= item.name %></td>
         <% end %>
     </tr></table>
       
   </td>
 </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('categories.new'), new_category_path %>
