<h1><%= t("categories.list") %></h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= t("categories.name") %></th>
      <th><%= t("categories.alias") %></th>
      <th><%= t("categories.property") %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%- unless @categories.blank?  -%>
      <% @categories.each do |category| %>
        <tr>
          <th rowspan='1' title= "<%= category.note %>"><%= category.name %></th>
          <td><%= category.alias %></td>
          <td>
            <%= category.properties.order_by(:'position'.asc).map {|item| item.name}.join(",") %>
          </td>
          <td colspan="1">
            <%= link_to t('show'), category %>|
            <%- if can? :update, @category -%>
              <%= link_to t('edit'), edit_category_path(category) %>|
            <%- end -%>
            <%- if can? :destroy, @category -%>
              <%= link_to t('destroy'), category, method: :delete, data: { confirm: t('categories.delete', name: category.name) } %>|
            <%- end -%>
            <%= link_to t('products.new'), new_category_product_path(category) %>|
            <%= link_to t('products.list'), category_products_path(category) %>|
            <%= link_to t('csvfiles.new'), new_category_csvfile_path(category) %>|
            <%= link_to t('csvfiles.list'), category_csvfiles_path(category) %>

          </td>

        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('categories.new'), new_category_path %>
