<% @page_title =  @category.name  %>
<p><%= link_to t('back'), categories_path %>|
<%- if can? :update, @category.products.build -%>
  <%= link_to t('products.new'), new_category_product_path(@category) %>|
  <%= link_to t('products.draft'), draft_category_products_path(@category) %>|
<%- end -%>
<%- if can? :done, @category.products.build -%>
  <%= link_to t('products.done'), done_category_products_path(@category) %>|
<%- end -%>
<%= link_to t('csvfiles.new'), new_category_csvfile_path(@category) %>|
<%= link_to t('csvfiles.list'), category_csvfiles_path(@category) %>
</p>
<p>
<strong><%= t('categories.node') %></strong>
<%= @category.node.blank? ? "" : @category.node.name %>
</p>

<p>
<strong><%= t('categories.name') %></strong>
<%= @category.name %>
</p>
<p>
<strong><%= t('categories.note') %></strong>
<%= @category.note %>
</p>
<hr>
<h4><%= t('properties.list') %></h4>
<div class="table-responsive">
  <table class="table">
    <tr><th>#</th>
      <th><%= t('properties.name') %></th>
      <th><%= t('properties.value') %></th>
      <th><%= t('properties.alias') %></th>
      <th><%= t('properties.position') %></th>
      <th><th></tr>
        <% @category.properties.order_by(:'position'.asc).each_with_index do |item, i| %>
          <tr><td><%= i+1 %></td>
            <td><%= item.name %></td><td><%= item.value %></td><td> <%= item.alias %></td><td> <%= item.position %></td>
            <td>
              <%- if can? :update, @property -%>
                <%= link_to t('edit'), edit_category_property_path(@category, item) %>
              <%- end -%>
          </td></tr>
        <% end %>
      </table>
    </div>
    <hr>
    <%- if can? :create, @property -%>
      <h4><%= t('properties.new') %> </h4>
      <%= render 'pform' %>
    <%- end -%>
