<p id="notice"><%= notice %></p>

<p>
<strong><%= t('categories.name') %></strong>
  <%= @category.name %>
</p>

<p>
 <strong><%= t('categories.note') %></strong>
  <%= @category.note %>
</p>

<%= link_to t('edit'), edit_category_path(@category) %> |
<%= link_to t('back'), categories_path %>
