<%= form_for [@category, @product] do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= t('categories.select') +':' + @category.name  %>
  </div>
  <% @category.properties.order_by(:'position'.asc).each_with_index do |item, i| %>
  <div class="field">
    <%= f.label "#{item.id}", item.name %>
    <%= f.text_field "#{item.id}", :value => render_product_parameter_value_tag(@product, item.id) %>
  </div>
  <% end%>

 <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

