<h1><%= t('products.list') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('products.status') %></th>
      <th><%= t('products.user_name') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.status %></td>
        <td><%= product.user_name %></td>
        <td><%= link_to t('show'), category_product_path(@category, product) %></td>
        <td><%= link_to 'Edit', edit_category_product_path(@category, product) %></td>
        <td><%= link_to 'Destroy', category_product_path(@category, product), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <tr>
        <td colspan="5">
          <% product.parameters.each do |item|%>
            <%= item.name + ':' + item.value %>
          <% end %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('new'), new_category_product_path(@category) %>
