<h1><%= "#{@category.name}> #{t('products.show')}" %></h1>
<p>
<strong><%= t('products.status') %></strong>
<%= render_product_status_tag(@product) %>
<%- if @product.status == 0 -%>
<%= link_to t('ready'), doing_category_product_path(@category, @product), remote: true, id: "ready" %>
<%- elsif @product.status == 1 -%>
<%= link_to t('agree'), agree_category_product_path(@category, @product), remote: true, id: "agree" %>
<%- end -%>
</p>
<p>
<%= link_to t('edit'), edit_category_product_path(@category, @product) -%>|
<%= link_to t('products.back'), draft_category_products_path(@category) -%>|
<%= link_to t('categories.back'), category_path(@category) -%>
</p>
<p>
<strong><%= t('products.user_name') %></strong>
<%= @product.user.blank? ? "" : @product.user.name %>
</p>

<p>
<strong><%= t('last_editor') %></strong>
<%= @product.last_edit_user.blank? ? "" : @product.last_edit_user.name %>
</p>
<table class="table-bordered">
  <% @product.parameters.each do |para| %>
    <tr><td><%= para.name.to_s %></td><td>:</td><td><%= para.value.to_s %></td></tr>
  <% end %>
</table>
<p>
<%= link_to t('edit'), edit_category_product_path(@category, @product) -%>|
<%= link_to t('products.back'), draft_category_products_path(@category) -%>|
<%= link_to t('categories.back'), category_path(@category) -%>
</p>
