<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @product.status %>
</p>

<p>
  <strong>User name:</strong>
  <%= @product.user_name %>
</p>
<% @product.parameters.each do |para| %>
  <p><%= para.name + ':' + para.value %></p>
<% end %>

<%= link_to t('edit'), edit_category_product_path(@category, @product) -%>|
<%= link_to t('products.back'), category_products_path(@category) -%>|
<%= link_to t('categories.back'), category_path(@category) -%>
