<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @product.status %>
</p>

<p>
  <strong>User name:</strong>
  <%= @product.user_name %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @product.ip %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
