<ul class="nav navbar-nav">
  <li><%= link_to t('identity'), cpanel_identities_path  %></li>
  <li><%= link_to t('users.list'), cpanel_users_path  %></li>
  <li><%= link_to t('permissions.list'), cpanel_permissions_path  %></li>
  <li><%= link_to t('manages.export'), manage_export_path  %></li>
  <li><%= link_to t('manages.events'), manage_events_path  %></li>

</ul>
<ul class="nav navbar-nav navbar-right">
  <%- if current_user -%>
    <li><%= link_to current_user.name + '(' + current_user.role + ')', root_url %></li>
  <%- end -%> 

  <li id="fat-menu" class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('option') %><b class="caret"></b></a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
    <li role="presentation" class="divider"></li>

    <li role="presentation"><%= link_to t('nodes.list'), nodes_path  %></li>
    <li role="presentation"><%= link_to t('categories.list'), categories_path  %></li>
    <li role="presentation"><%= link_to t('pairs.list'), pairs_path   %></li>
    <li role="presentation" class="divider"></li>

  </ul>
  </li>
</ul>


