<!DOCTYPE html>
<html>
  <head>
    <title>Autodata</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body data-offset="50">
    <div class="navbar navbar-inverse  navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav nav-tab">
            <li><%= link_to t('home'), root_url  %></li>
            <li><%= link_to t('categories.list'), categories_path  %></li>
          </ul>
          <%= render "common/user_nav" %>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="main" class="container-fluid">
        <%= yield %>
      </div>
    </div>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
