<!DOCTYPE html>
<html>
  <head>
    <%= render_page_title %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body data-offset="50">
    <div class="navbar navbar-inverse  navbar-fixed-top bs-nav">
      <div class="container">
        <nav class="navbar-collapse bs-navbar-collapse">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><%= t('site_name') %></a> 
        </div>
        <div class="collapse navbar-collapse bs-js-navbar-collapse">
          <ul class="nav navbar-nav">
            <%- Node.roots.each do |root| -%>

            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= root.name %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <%- root.child_nodes.each do |child|  -%>
              <li><%= link_to child.name, '#'  %></li>
            <%- end  -%>
            </ul> 
            </li>
          <%- end -%>

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('option') %><b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
              <%= render "common/user_nav_li" %>
              <li role="presentation" class="divider"></li>

              <li role="presentation"><%= link_to t('nodes.list'), nodes_path  %></li>
              <li role="presentation"><%= link_to t('categories.list'), categories_path  %></li>

            </ul>
            </li>
          </ul>

        </div>
        </nav>
      </div>
    </div>
    <div class="container">
      <%= notice_message %>
      <div id="main" class="container-fluid">
        <div class="col-sm-3">
          <%= render "common/node_nav" %>
        </div>
        <div class="col-sm-9">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
