<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @parameter.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @parameter.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @parameter.value %>
</p>

<p>
  <strong>Position:</strong>
  <%= @parameter.position %>
</p>

<%= link_to 'Edit', edit_parameter_path(@parameter) %> |
<%= link_to 'Back', parameters_path %>
